test:
  primary:
    encoding: unicode
    url: <%%= ENV["DATABASE_URL"] + "/vicinity_<%= name %>" %>
    pool: <%%= ENV["DB_POOL_SIZE"] || 5 %>
  statistics:
    encoding: unicode
    url: <%%= ENV["TIMESCALE_URL"] + "/vicinity_auth_by_<%= name %>" %>
    pool: <%%= ENV["RAILS_MAX_THREADS"] { 5 } %>
