<% content_for :content do %>
  <%= render "shared/mailer/greeting" %>

  <p style="font-size: 18px;
            line-height: 28px;"
  >
    You have requested to reset your password.
  </p>

  <p style="font-size: 18px;
            line-height: 28px;"
  >
    Click on the link below and follow the instructions to reset your password:
  </p>

  <%= render "shared/mailer/button",
    action: {
      url: auth_by.reset_url(@reset_password_token),
      label: "Reset my password"
    }
  %>
<% end %>
